.imgf1{
    height: 400px;
    width: 75%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    border-radius: 10px;
}
.fphoto{
    margin-left: 10%;
    margin-top: 15px;
    color: rgba(34, 186, 181, 0.613);
}
